.board {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  margin-bottom: 1rem;
}

.cell {
  display: flex;
  border: 1px solid;
  align-content: center;
  justify-content: center;
  font-size: 10vw;
  width: 15vw;
  height: 15vw;
  background-color: white;
}

.attempts, .trophy {
  cursor: pointer;
}

.keyboard .btn {
  width: 10%;
  min-width: 2.5rem;
  font-weight: bold;
}
#new-word {
  width: auto;
}

.trophy {
  font-size: 1px;
}

.trophy img {
  max-width: 200px;
  max-height: 200px;
}